@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  background: #FAFBFF;
  position: relative;
}

.container {
  max-width: 968px;
  margin: 0 auto;
  /* Center the container */
}

.app {
  display: flex;
  gap: 71px;
}

.header {
  margin-top: 41px;
  margin-bottom: 51px;
}

@media (max-width: 1600px) {
  .app {
    flex-direction: column;
  }
}