.logo {
  display: flex;
  cursor: pointer;
  gap: 6px;

  &__main {
    display: flex;
    align-items: center;
    gap: 8px;

    &-title {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 0.26px;
    }
  }

  &__version {
    padding-top: 15px;
    color: #838383;
  }
}