.search{
  position: relative;
  max-width: 216px;
  &__icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__input{
    border: none;
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border-radius: 10px;
    background: #F9FBFF;
    color: #B5B7C0;
    font-size: 12px;
  }
}
